<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>itroommodule</name>
	<displayName><![CDATA[It-Room Module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module réalisé dans le cadre de tests techniques It-Room]]></description>
	<author><![CDATA[Mathieu Vandenbussche]]></author>
	<tab><![CDATA[content_management]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
